{%extends "base.html"%}

<h1>All profiles</h1>

{% block header_title %}All Followers{% endblock %}


{% block content %}

<title>all profiles</title>

    <h1>raph</h1>

    
    {% for user in users %}

	    <div class ="all_profiles">
	      <p>{{ user.username }}</p>
	      <h5> prenom:{{ user.first_name }}  nom:  {{ user.last_name }} </h5>
	      {% if user in following%}
	      <h5><a href="{% url 'first_app:unfollow' user.id %}"> Unfollow </a></h5>
	      {% else %}
	      <h5><a href="{% url 'first_app:follow' user.id %}"> Follow </a></h5>
	      <br>
	      {% endif %}
	    </div>
	   
    {% endfor %}
{% endblock %}