{%extends "base.html"%}

{% block header_title %}Profile{% endblock %}
{% block content %}
<div class="container">
		<h1>Profile</h1>
		

		<p>{{ profile.user.username }}</p>
		<p>{{ profile.first_name }}</p>
		<p>{{ profile.user.last_name }}</p>
		<p>{{ user.email }}</p>
		<p>{{ profile.bio }}</p>
		<img src="getthepix">


	{% for post in posts %}
	<p>gars sur</p>
	<p>{{post.text}}</p>
	<p>{{post.date}}</p>

	{% endfor %}
</div>


		{% for post in posts %}
		<p>{{ post.text }}</p>
</div>

{% endfor %}
{% endblock %}