<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

<link rel="stylesheet" type="text/css" href="{% static 'css/styles_base.css' %}">

	<title>{% block header_title %}{% endblock %}</title>
</head>
<body>

<ul>
  <li class="logo"><a href="{%url 'first_app:index' %}">LOGO</a></li>
  <li class="login"><a href="first_app/login.html">Log In</a></li>
  <li class="signup"><a href="{%url 'first_app:signup' %}">Sign Up</a></li>
</ul>

<div id="content">

      {% block content %}

      {% endblock %}
</div>

</body>
</html>

<a href=""></a>