<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	

<link rel="stylesheet" type="text/css" href="{% static 'css/styles_base.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>{% block header_title %}{% endblock %}</title>
</head>
<body>
	<a href="{% url 'first_app:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="logo" href="{%url 'first_app:index' %}"><img src="{% static 'images/hive_logo.png' %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="nav-item active">

    <ul class="navbar-nav mr-auto">


        {% if user.is_authenticated%}
      <li><a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a></li>
      <li><a class="nav-link" href="{% url 'first_app:all_profiles' %}">Friends</a><span class="sr-only">(current)</span></a></li>
      <li><a class="nav-link" href="{% url 'profile_app:view_profile' %}">Profil</a></li>
      <li><a class="nav-link" href="{% url 'profile_app:edit_profile' %}">Edit Profil</a></li>
      <li><a class="nav-link" href="{% url 'first_app:post_edit'%}">Edit Post</a></li>
      <li><a class="nav-link" href="{% url 'first_app:post_new'%}">New Post</a></li>
      <li><a class="nav-link" href="{% url 'first_app:following'%}">Following</a></li>
      <li><a class="nav-link" href="{% url 'first_app:followers'%}">Followers</a></li>

      
        {% else %}
      <li><a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a></li> 
      <li><a class="nav-link" href="{%url 'first_app:signup' %}">Signup <span class="sr-only">(current)</span></a></li>
    
        {% endif %}
      
    </ul>
    </div>
  </div>
    

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div id="content">

      {% block content %}

      {% endblock %}
</div>

</body>
</html>
