body {
	background-color: #C0C0C0;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: #787878;
    color: white;
    border-radius: 5px;
    border-style: double;
    height: 40px;

}

.logo {
    float: left;
    margin: 10px 0px;
    margin-left: 60px;
    
}

.login, .signup {
	float: right;
	margin: 10px 0px;
	margin-right: 30px;

}

