body {
	background-color: white;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: yellow;
    color: white;
    border-radius: 5px;
    border-style: double;
    height: 40px;

}

.logo {
    float: left;
    margin: 10px 0px;
    margin-left: 60px;
    
}


.signup, .login, .logout, .profile, .all_users, .edit_profile, .edit_post {

	float: right;
	margin: 10px 0px;
	margin-right: 30px;

}


